version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: soa-lab-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - consul-network

  consul:
    image: hashicorp/consul:1.22
    container_name: consul
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    command: agent -server -ui -bootstrap-expect=1 -client=0.0.0.0
    environment:
      - CONSUL_BIND_INTERFACE=eth0
    volumes:
      - consul-data:/consul/data
    networks:
      - consul-network

volumes:
  postgres_data:
  consul-data:

networks:
  consul-network:
    driver: bridge