@if (isLoading()) {
<div class="tui-form__loader">
  <tui-loader></tui-loader>
</div>
} @else {
<form [formGroup]="personForm!" class="main-form">
  @if (context.data.mode === 'read') {
  <tui-textfield class="tui-form__row">
    <label tuiLabel>ID</label>
    <input tuiTextfield formControlName="id" [readOnly]="true" />
  </tui-textfield>
  } @if (context.data.mode === 'read') {
  <tui-input-date
    formControlName="creationDate"
    class="tui-form__row"
    [readOnly]="true"
  >
    Creation Date
    <input placeholder="Placeholder" tuiTextfieldLegacy [readOnly]="true" />
    <span class="tui-required"></span>
  </tui-input-date>
  }

  <tui-textfield class="tui-form__row">
    <label tuiLabel>Name</label>
    <input tuiTextfield formControlName="name" />
  </tui-textfield>
  <tui-error formControlName="name" [error]="[] | tuiFieldError | async" />

  <div formGroupName="coordinates" class="inner-form">
    <h3 class="tui-form__header">Coordinates</h3>
    <div class="tui-form__row tui-form__row_multi-fields">
      <tui-textfield class="tui-form__multi-field">
        <label tuiLabel>X</label>
        <input tuiTextfield formControlName="x" />
      </tui-textfield>

      <tui-textfield class="tui-form__multi-field">
        <label tuiLabel>Y</label>
        <input tuiTextfield formControlName="y" />
      </tui-textfield>
    </div>
  </div>

  <div class="inner-form">
    <h3 class="tui-form__header">Location</h3>
    <div
      class="tui-form__row tui-form__row_multi-fields"
      formGroupName="location"
    >
      <tui-textfield class="tui-form__multi-field">
        <label tuiLabel>X</label>
        <input tuiTextfield formControlName="x" />
      </tui-textfield>
      <tui-textfield class="tui-form__multi-field">
        <label tuiLabel>Y</label>
        <input tuiTextfield formControlName="y" />
      </tui-textfield>
      <tui-textfield class="tui-form__multi-field">
        <label tuiLabel>Name</label>
        <input tuiTextfield formControlName="name" />
      </tui-textfield>
    </div>
  </div>

  <tui-textfield class="tui-form__row">
    <label tuiLabel>Birthday (yyyy-MM-dd)</label>
    <input tuiInputDate formControlName="birthday" />
    <tui-calendar *tuiTextfieldDropdown />
  </tui-textfield>

  <tui-textfield class="tui-form__row">
    <label tuiLabel>Height</label>
    <input tuiTextfield formControlName="height" />
  </tui-textfield>

  <tui-textfield class="tui-form__row">
    <label tuiLabel>Weight</label>
    <input tuiTextfield formControlName="weight" />
  </tui-textfield>

  <tui-select
    class="tui-form__row"
    formControlName="nationality"
    tuiTextfieldSize="s"
  >
    Nationality
    <input tuiTextfieldLegacy placeholder="Nationality" />
    <tui-data-list-wrapper
      *tuiDataList
      [items]="['RUSSIA', 'CHINA', 'INDIA', 'ITALY', 'SOUTH_KOREA']"
    />
  </tui-select>
  <!--  -->
  @if (isEditable) {
  <div class="tui-form__buttons">
    <button
      size="l"
      tuiButton
      type="submit"
      class="tui-form__button"
      [disabled]="!personForm?.valid"
      (click)="save()"
    >
      Submit
    </button>
    <button
      appearance="flat"
      size="l"
      tuiButton
      type="button"
      class="tui-form__button"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
  }
</form>
}
